.add_new_task{
  font-size: 28px;
  color: rgb(47, 79, 79);
  cursor: pointer;
}
.task_category_block{
  display: inline-block;
  width: 100%;
}
.fa{
  width: 24px;
  display: inline-block;
  cursor: pointer;
  color: rgb(255,255,255);
  font-size: 24px;
}
.thermometer_block{
  position: relative;
  display: inline-block;
  width: 200px;
  height: 70px;
}
.term{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 12.5%;
  height: 20px;
  //border-top: 2px solid grey;
  //border-bottom: 2px solid grey;
  float: left;
  box-shadow:
          0 -5px 0 0 rgba(41, 41, 41, 1),
          0 5px 0 0 rgba(41, 41, 41, 1);

  //0 0 100px 50px #252525;
}
.term2{
  height: 40px;
  border-radius: 25px;
}
.term3{

  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow:
            0 -7px 0 1px rgba(41, 41, 41, 1),
            7px 0px 0 1px rgba(41, 41, 41, 1),
          0 7px 0 1px rgba(41, 41, 41, 1);
}
.term4{
  width: 40px;
  border-right: 2px solid grey;
  height: 40px;
  border-radius: 25px;
}
.term_block{
  height: 400px;
  //background: #151515;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heart1{
  border-radius:  0 10px 0 0 ;
}
.heart2{
  border-radius: 10px 0 0 0;
}
.wrapper {
  width: 300px;
  height: 30px;
  background: #2c2c2c;
  border-radius: 30px;
  position: relative;
  transform: rotate(-90Deg) scale(0.85);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1),
  inset 0 -3px 2px rgba(0, 0, 0, 0.12),
  0 5px 5px rgba(0, 0, 0, 0.4),
  0 0 5px rgba(0, 0, 0, 0.4),
  inset 0 -15px 10px rgba(0, 0, 0, 0.25),
  0 0 100px 50px #252525;
}

.wrapper:before {
  content: "";
  position: absolute;
  background: inherit;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  left: -10px;
  top: 50%;
  margin-top: -22px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1),
  inset 0 -3px 2px rgba(0, 0, 0, 0.12),
  0 5px 5px rgba(0, 0, 0, 0.4),
  0 0 5px rgba(0, 0, 0, 0.4),
  inset 0 -15px 10px rgba(0, 0, 0, 0.25);
}

.wrapper:after {
  content: "";
  height: 100%;
  width: 10px;
  background: #2c2c2c;
  position: absolute;
  left: 28px;
  top: 0;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1),
  inset 0 -3px 2px rgba(0, 0, 0, 0.3),
  0 5px 2px rgba(0, 0, 0, 0.2),
  inset 0 -15px 0px rgba(0, 0, 0, 0.25);
}

.loader {
  width: 95%;
  height: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -8px;
  background: #404040;
  border-radius: inherit;
  z-index: 100;
  box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.4),
  inset 0 3px 3px rgba(0, 0, 0, 0.5),
  inset 0 -5px 5px rgba(0, 0, 0, 0.4),
  0 1px 0 rgba(255, 255, 255, 0.1);
}

.inner {
  width: 0%;
  height: 100%;
  background: #2b8095;
  background: linear-gradient(to right, #237686, #34476f, #5b426c, #965666, #ba835c, #d0c746, #e74c3c);
  animation: loader 5s ease-out infinite;
  border-radius: inherit;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3),
  inset 0 8px 1px rgba(255, 255, 255, 0.1),
  inset 0 -2px 1px rgba(255, 255, 255, 0.1);
}

.inner:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #2b8095;
  background: linear-gradient(#63b5c0, #146a77);
  left: -3px;
  top: 50%;
  margin-top: -15px;
  box-shadow: inset 0 2px 3px rgba(255, 255, 255, 0.2),
  inset 0 -4px 2px rgba(255, 255, 255, 0.1);
}

.inner:before {
  content: "";
  position: absolute;
  height: 100%;
  background: linear-gradient(to right, #2b8095, rgba(64, 64, 64, 0));
  width: 20px;
  top: 0;
  left: 25px;
  z-index: 200;
}

@keyframes loader {
  100% { width: 100%; }
}

.date_range_hidden{
  display: none;
}

.ui-datepicker .selected-start:not(.selected-end) a,
.ui-datepicker .selected-end:not(.selected-start) a {
  background: #F3FDD5;
}

.ui-datepicker .selected.first-of-month:not(.selected-start) a {
  border-left: 2px dotted #D4E7F6;
  padding-left: 1px;
}

.ui-datepicker .selected.last-of-month:not(.selected-end) a {
  border-right: 2px dotted #D4E7F6;
  padding-right: 1px;
}

#date_range_multiple{ width: 350px; }